/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #616971;
  padding-top: 3rem;
}
@@font-face {
  font-family: Parafont-Regular;
  src:
      local('Parafont-Regular')
      url(fonts/Parafont-Regular.ttf);
  format('truetype');

  font-family: Roboto;
  src:
      local('Roboto')
      url(fonts/Roboto-Regular);
  format('truetype');

}

/* colors
#F4CE87
#DB6B66
#E08670
#B85757
#0D0D0D

*/

/*============= TOP BAR HEADER =============*/

/*
.top-bar {
  background: red;
  height: 2.4rem;
  padding: .5rem 0;
  text-align: right;
}

.top-bar a {
  color: orange;
  text-decoration: none;
  font-size: 1.1;
}
*/

/*============= NAVIGATION =============*/

.navbar {
  background-color: #F4CE87!important;
}
.navbar-brand {
  margin: auto;
}
.navbar-brand {
  color: #DB6B66!important;
  font-family: 'Parafont-Regular';
  font-size: 25px;
}

/*navbar overlay*/
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4CE87; /* Black background with opacity */
  z-index: 999999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: #DB6B66;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


/*title card*/

.border-primary {
  border-color: #DB6B66!important;
}

.btn-primary {
  background-color: #DB6B66!important;
  border-color: #DB6B66!important;
}

/*title card*/





/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

.fixed {
  background-image: url('../img/flames.gif');
  position: fixed;
}
.fixed-background {
  padding: 10rem 0;
}

.content-info {
  text-align: center;
  margin: auto;
}


/*-- contract info --*/
#copy-address {
  color: white;
  text-align: center;
  width: 85%;
  margin: auto;
  background-color: #F4CE87;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#copy-address:hover {
  cursor: pointer;
  background-color: #F4CE87;
}
#copy-address:active {
  background-color: white;
}

#copy-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  z-index: 999999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#copy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2rem  0 .5rem;
  border-radius: 10px;
}
#copy-text .svg-inline--fa {
  font-size: 6rem;
  padding-bottom: 1rem;
}

/*kontakt oss*/
.kontaktoss {
  text-align: center;
  margin: auto;
}

/*============= FOOTER =============*/

footer {
  background-color: #F4CE87;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p, footer a  {
  color: #DB6B66;
  text-decoration: none;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover {
  color: #E08670;
}

/*============= SOCKET =============*/

.socket {
  background-color: #F4CE87;
  border-top: .1rem solid #DB6B66;
}
.socket p, .socket a {
  color: #DB6B66  ;
  text-decoration: none;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
